<h3>Books (<%= @books.count %>)</h3>
<p>Available at <%= formatted_time(@available_at) %></p>
<ol>
  <% @books.each do |book| %>
  <li><i><%= link_to(book.title, book) %></i> by <%= book.author %></li></br>
  <% end %>
</ol>
