<h3>Books</h3>
<p>Available at <%= formatted_time(@available_at) %></p>
<ol>
  <% @books.each do |book| %>
  <li><i><%= link_to(book.title, book) %></i> by <%= book.author %></li></br>
  <% end %>
</ol>
</br>
<%= link_to 'Enter a New Book', new_book_path %>