
<div id="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="panel-body">
      <p>
        <%= button_to 'All Books', books_path, :method => :get %>
      </p>
      <p>
        <%= button_to 'Create Book', new_book_path, :method => :get %>
      </p>
    </div>
  </div>
</div>
